.order{
    width: 70%;
    margin: 10px auto;
    padding: 15px;
    border:1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
}

@media(max-width:500px){
    
    .ingredeants{
        width: 100%;
        margin: 10px auto;
    }
    .order{
    width: 90%;
    margin: 10px auto;
    padding: 15px;
    border:1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    box-sizing: border-box;
    font-weight: bold;

}   
}